

@import url('https://fonts.googleapis.com/css?family=Blinker');
.mainPage {

    height: 100vh;
    // background-image: url("../../img/sunset.png") ;
    background-size: cover;
    background-position: center; /* Center the image */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p, h5, h4, .icon{
        color: white;
        font-family: 'Blinker';
    }
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px 0px 0px;
    }
    
    p{
        font-size: 15px;
    }
    
    h5{
        font-size: 30px;
        font-weight: 300;
        color:white ;
    }


h6{
    font-size: 20px;
    font-weight: 300;
    color:#dedede ;
}
    h4{
        font-size: 60px;
        font-weight: 300;
    }
    .icon{
        font-size: 40px;
    }

}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}



.arrow{
    font-size: 50px;
    color: white;
}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 0px 0px ;
}